/* Import Poppins Font from Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"); */

/**
 * use vscode theme colors
 * https: //code.visualstudio.com/api/extension-guides/webview#theming-webview-content
 */
body {
  margin: 0;
  padding: 10px;
  /* font-family: "Poppins", sans-serif; */
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

.category-section {
  padding: 0px 5px;
}

.category-section h3 {
  color: var(--vscode-sideBarSectionHeader-foreground);
  background-color: var(--vscode-sideBarSectionHeader-background);
  padding: 10px 0;
  margin: 4px 0;
  text-align: center;
  cursor: pointer;
}

.category-section h3::after {
  content: "   ⏶";
}

.category-section.collapsed h3::after {
  content: "   ⏷";
}

/* General Button Styling */
.toolbar-button {
  padding: 5px 0;
  margin: 3px 1%;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  /* font-family: "Poppins", sans-serif; */
  /* font-size: 14px; */
  text-align: center;
  width: 98%;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  box-sizing: border-box;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.toolbar-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.category-section h3 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#RecentCommandsSection h3 {
  background-color: coral;
}

/* Run Commands Section Buttons */
#RunCommandsSection h3 {
  background-color: #4e8a8a; /* Matte Teal */
}

/* Build Commands Section Buttons */
#BuildCommandsSection h3 {
  background-color: #8c8c6c; /* Matte Olive Green */
}

/* Check Commands Section Buttons */
#CheckCommandsSection h3 {
  background-color: #8c5e5e; /* Matte Rose Brown */
}

/* Test Commands Section Buttons */
#TestCommandsSection h3 {
  background-color: #6c8cbf; /* Matte Steel Blue */
}

/* Doc Commands Section Buttons */
#DocCommandsSection h3 {
  background-color: #9c7f4c; /* Matte Bronze */
}

/* Package Commands Section Buttons */
#PackageCommandsSection h3 {
  background-color: #7d5a9b; /* Matte Purple */
}

/* Rustup Commands Section Buttons */
#RustupCommandsSection h3 {
  background-color: #7f9b7f; /* Matte Sage Green */
}

/* General Commands Section Buttons */
#GeneralCommandsSection h3 {
  background-color: #9b9b6c; /* Matte Khaki */
}

/* Analyze Commands Section Buttons */
#AnalyzeCommandsSection h3 {
  background-color: #8f9b77; /* Matte Olive Drab */
}

/* Publishing Commands Section Buttons */
#PublishingCommandsSection h3 {
  background-color: #b89b6c; /* Matte Sand */
}

/* Focus and Tooltip Styles */
.toolbar-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffd54f; /* Focus color */
}

.collapsed button {
  display: none;
}
